{% extends 'base/base.html' %}
{% block title %}Lista de US{% endblock %}
{% block content %}

<table class="table table-bordered">
    <h2 align="center">Clientes</h2>

    <thead>
        <tr>
{#          <td>id</td>#}
            <td>Nombre de Cliente</td>
            <td>Apellido Del Cliente</td>
            <td>Ruc</td>
            <td>Direccion</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        {% for cliente in object_list %}
                <tr>
    {#              <td>{{cliente.id }}</td>#}
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.ruc}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>
                        <a class="btn btn-danger" href="{%  url 'cliente_editar' cliente.id %}">Modificar</a>
                        <a class="btn btn-default" href="{%  url 'cliente_eliminar' cliente.id %}">Eliminar</a>

                    </td>
                </tr>
        {%endfor%}
    </tbody>
</table>

        <a class="btn btn-default" href="{% url 'cliente_crear' %}">Crear Cliente</a>

{% endblock%}
